*{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main_a{
    text-decoration: none;
    text-shadow: 1px 1px 2px pink;
    color: black;
    font-weight: 600;
}
.d-flex{
    background-color: rgb(211, 175, 245);
}
main{
    background-color: rgb(227, 219, 234);
}
form{
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.form-group{
    padding-top: 40px;
}
.button{
    margin-top:  40px;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(171, 108, 230);
    color: white;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#textarea{
    margin-right: 200px;
    padding-right: 200px;
}
#flex2{
    flex-wrap: wrap;
    background-color: rgb(204, 180, 227);
}
#clear{
    margin-left: 45%;
    margin-bottom: 50px;
}
#cardsSection{
    background-color: rgb(211, 175, 245);
}